@font-face {
    font-family: 'c12th_south_eg5oyregular';
    src: url('c12thsouth_eg5oy-regular-webfont.woff2') format('woff2'),
         url('c12thsouth_eg5oy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}