@font-face {
    font-family: 'cupcake_dream_cream_gebjeRg';
    src: url('cupcakedreamcream_gebje-regular-webfont.woff2') format('woff2'),
         url('cupcakedreamcream_gebje-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



