
@font-face {
    font-family: 'krakensans';
    src: url('krakensans-webfont.woff2') format('woff2'),
    url('krakensans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}