
@font-face {
    font-family: 'isalabellaregular';
    src: url('isalabella-regular-webfont.woff2') format('woff2'),
         url('isalabella-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
