{% extends 'bootstrap/base.html' %}

{% block title %} Library {% endblock %}

{% block content %}

<h1>My Library</h1>
<ul>
  {% if library %}
  {% for item in books %}
  <li>{{item['title']}} - {{item['author']}} - {{item['rating']}} <a
      href="{{url_for('edit_rating',id=item['id'])}}">Edit Rating</a></li>
  {% endfor %}

  {% else %}
  <li>Library is Empty.</li>
  {% endif %}
</ul>

<a href="{{url_for('add')}}">Add New Book</a>
<br>
<a href="{{url_for('delete')}}">Delete Book</a>


{% endblock %}