<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Blog</title>
</head>

<body>
    <div id="header"></div>
    <div>
        {% for blog_posts in all_posts: %}
        <div>
            {%if blog_posts["id"]:%}
            <u>
                <h1>{{blog_posts["title"]}}</h1>
            </u>
            <h2>{{blog_posts["content"]}}</h2>
            <h4>Author:- {{blog_posts["author"]}}, Date:- {{blog_posts["date"]}}</h4>
            <hr>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>
<footer>
    <center>
        <p>I Nico-Zero and {{year}} is my year. Lucky Number:- {{lucky_number}}</p>
    </center>
</footer>

</html>