<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nico-Zero</title>
        <style>
            footer {
                position: fixed;
                padding: 0px;
                bottom: 0;
                width: 100%;
                /* Height of the footer*/
                height: 40px;
                background: rgb(0, 0, 0,0.2);
            }
        </style>
    </head>
    <body>
        <center>
            <h1>I Nico Zero</h1>
            <h1>And</h1>
            <h1>I am {{4*random_number}}</h1>
            <h2>Random Number:- {{random_number}}</h2>
            <a href="{{ url_for('blog', l_number = random_number) }}">Go To Blog</a>
        </center>
    </body>
    <footer>
        <center>
            <p>I am Nico-Zero and {{year}} is my year.</p>
        </center>
    </footer>
</html>
