body {
    margin: 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.profile_image {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
}
.cloud-1 {
    position: relative;
    left: 30%;
}
.cloud-2 {
    position: absolute;
    top: 15%;
    left: 20%;
}

.mountain {
    height: 500px;
}
.top-container {
    background-color: #b5a7a7;
}
.middle-container {
    background-color: red;
    width: 200px;
    height: 200px;
}
.bottom-container {
    background-color: blue;
    width: 200px;
    height: 200px;
}
.last-container {
    background-color: yellow;
    width: 200px;
    height: 200px;
}

.data {
    text-decoration: underline;
}
