/* body {
    background-color: antiquewhite;
    font-size: 40px;
}
h1 {
    color: whitesmoke;
    background-color: darkseagreen;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}
h2 {
    color: #faf8f1;
    background-color: #c58940;
    font-size: 4em;
    font-family: "Courier New", Courier, monospace;
    font-weight: 300;
    font-style: normal;
}
#pixel {
    font-size: 20px;
}
#point {
    font-size: 20pt;
}
#em {
    font-size: 1em;
}
#rem {
    font-size: 1rem;
}
footer {
    font-size: 12pt;
}
html {
    font-size: xx-large;
} */
html {
    font-size: 30px;
}

body {
    background-color: cornflowerblue;
    color: white;
    font-size: 18px;
}

#color {
    color: coral;
}
#font_size {
    font-size: 2rem;
}
#font_weight {
    font-weight: 900;
}
#font_family {
    font-weight: 400;
    font-family: "Caveat", cursive;
}
#text_align {
    text-align: right;
}
