body {
    margin: 0;
    color: #40514e;
    text-align: center;
    font-family: "Merriweather", serif;
    background-image: linear-gradient(#8ed4fcce, #ffffff00);
}

.name {
    font-size: 5.625rem;
    margin: 0;
    font-family: "Sacramento", cursive;
    color: #cc00ff8d;
}
h2 {
    color: #8100a1;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}
h3 {
    color: #8100a18d;
    font-family: "Montserrat", sans-serif;
}

hr {
    border-color: #b1b1b13f;
    border-width: 10px;
    border-style: none;
    border-top-style: dotted;
    width: 8rem;
    margin: 50px auto 50px;
}

.i_m {
    margin: 0;
}
.profile_image {
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 100%;
}
.profile_img-2 {
    height: 200px;
    border-radius: 100%;
}
.data {
    text-decoration: underline;
}
.cloud-1 {
    position: relative;
    top: 0;
    left: 30%;
    height: 200px;
}
.cloud-2 {
    position: absolute;
    top: 30%;
    left: 18%;
    height: 150px;
}

.mountain {
    height: 500px;
}
.computer-img {
    width: 25%;
    float: left;
}
.cube-img {
    width: 25%;
    float: right;
}
.skill-rows {
    width: 40%;
    margin: 50px auto 80px;
    text-align: left;
    line-height: 2;
}

.contact-me {
    margin: auto auto 50px;
}
.btn {
    background: #d9c0fa;
    background-image: -webkit-linear-gradient(top, #d9c0fa, #ca00f2);
    background-image: -moz-linear-gradient(top, #d9c0fa, #ca00f2);
    background-image: -ms-linear-gradient(top, #d9c0fa, #ca00f2);
    background-image: -o-linear-gradient(top, #d9c0fa, #ca00f2);
    background-image: linear-gradient(to bottom, #d9c0fa, #ca00f2);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 12px;
    text-shadow: 1px 1px 30px #666666;
    font-family: Courier New;
    color: #ffffff;
    font-size: 19px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #dca8ff;
    background-image: -webkit-linear-gradient(top, #dca8ff, #7c0bd9);
    background-image: -moz-linear-gradient(top, #dca8ff, #7c0bd9);
    background-image: -ms-linear-gradient(top, #dca8ff, #7c0bd9);
    background-image: -o-linear-gradient(top, #dca8ff, #7c0bd9);
    background-image: linear-gradient(to bottom, #dca8ff, #7c0bd9);
    text-decoration: none;
}

.bottom-container {
    background-color: #8100a1;
    padding: 30px 0 1px;
}
.footer-link {
    color: #330240;
    font-family: "Montserrat", sans-serif;
    margin: auto 30px auto;
    text-decoration: none;
}
.footer-link:hover {
    color: #000000;
}
.copy-right {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    padding: 20px 0;
}
