footer {
    position: fixed;
    padding: 0px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: rgb(0, 0, 0, 0.2);
}
#header {
    position: fixed;
    padding: 0px;
    top: 0;
    width: 100%;
    /* Height of the footer*/
    height: 70px;
    background: rgb(0, 0, 0, 0.2);
}
