{% extends "index.html" %}

{% block header-image %}{{post.header_image_url}}{% endblock header-image %}

<!-- Page Header-->
{% block header %}
<div class="container position-relative px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <div class="post-heading">
        <h1>{{ post.title | capfirst}}</h1>
        <h2 class="subheading">{{ post.subtitle }}</h2>
        <span class="meta"
          >Posted by
          <!-- Changed from post.author -->
          <a href="#">{{ post.author.user.username }}</a>
          on {{ post.created}}
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock header %}

<!--Main Content-->
{% block content %}
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {{ post.body|safe }}
        <!--Only show Edit Blog button if user id is 1 (admin user) -->
        {% if post.author.user.id == user.id %}
        <div class="d-flex justify-content-end mb-4">
          <a
            class="btn btn-primary float-right"
            href="{% url 'main:edit_post' post.pk %}"
            >Edit Blog</a
          >
        </div>
        {% endif %}

        <!-- Comments Area -->
        <form method='POST'>
          {% csrf_token %}
          {{ comment_form.media }}
          {{ comment_form.as_p }}
          <input type="submit"/>
        </form>
        
        <div class="comment">
          <ul class="commentList">
            <!-- Show all comments -->
            {% for comment in comments %}
              <li>
                <div class="commenterImage">
                  <img
                    src='../../../media/{{comment.author.avatar}}'
                  />
                </div>
                <div class="commentText">
                  <a class="sub-text" href={% url 'main:profile' comment.author.user.pk %}>{{comment.author.user.username | capfirst}}</a>
                  {{comment.comment |safe}}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div> 
      </div>
    </div>
  </div>
</article> 
{% endblock content %}
