<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <center>
        Hello World❤️
    </center>
    <br>
    <br>
    <form method="POST" action="/">
        {{ form.csrf_token }}
        {{form.email.label}} {{form.email(size=30)}}
        <br>
        <br>
        {{form.password.label}} {{form.password(size=30)}}
        {{form.login()}}
    </form>
</body>

</html>