{% include 'header.html' %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{img}})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Nico's Blog</h1>
                    <span class="subheading">Your are going to have a grate time.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            {% for blog in blog_posts[0:10]: %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{{url_for('post', blog_id=blog['id'])}}">
                    <h2 class="post-title">{{blog['title']}}</h2>
                    <h3 class="post-subtitle">{{blog['subtitle']}}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{blog['author']}}</a>
                    on {{blog['date']}}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}

            <!-- Pager-->
            <div class="container">
                <div class="row">
                    <div class="d-flex justify-content-end mb-4 col-12"><a class="btn btn-primary text-uppercase"
                            href="{{url_for('page',page_number=2)}}">Next Page→</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}